<!DOCTYPE html>
<html lang="en" class="text-info">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>AM Fredericks Take Home Programmer Test</title>
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="new.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.2.26/angular-sanitize.min.js"></script>
        <script>
        
            
var app = angular.module("amfApp", ['ngSanitize']);

app.controller("dataCtrl", function($scope, $http, $sce) {
  $http.get("getData.php").success(function(response) {$scope.data = response;});

  $scope.filterFunction = function(element) {
    return element.risk.match(/^Ma/) ? true : false;
  $scope.langFilter = function(element) {
      return element.language.match('E') ? true : false;
      
      $scope.filter('offset', function() {
          return function(input, start) {
              start=parseInt(start,10);
              return input.slice(start);
          };
      });
      
      
}
      
  };


    $scope.itemsPerPage = 5;
  $scope.currentPage = 0;
  $scope.items = [];

  for (var i=0; i<50; i++) {
    $scope.items.push({
      id: i, name: "name "+ i, description: "description " + i
    });
  }

  $scope.prevPage = function() {
    if ($scope.currentPage > 0) {
      $scope.currentPage--;
    }
  };

  $scope.prevPageDisabled = function() {
    return $scope.currentPage === 0 ? "disabled" : "";
  };

  $scope.pageCount = function() {
    return Math.ceil($scope.items.length/$scope.itemsPerPage)-1;
  };

  $scope.nextPage = function() {
    if ($scope.currentPage < $scope.pageCount()) {
      $scope.currentPage++;
    }
  };

  $scope.nextPageDisabled = function() {
    return $scope.currentPage === $scope.pageCount() ? "disabled" : "";
  };
    
    
    
});
</script>
    </head>
    <body ng-app="amfApp">
        <header>
            <div class="row">
                <div class="col-md-6">
                    <h2 class="text-warning">Take home programmer test</h2>
                </div>
                <div class="text-right lead col-md-6">
                    <h1 class="text-primary"><span class="glyphicon text-primary glyphicon-leaf"></span>A.M. Fredericks</h1>
                </div>
            </div>
            <div class="row text-center bg-success lead">
                <form class="form-inline ng-pristine ng-valid">
                    <input ng-model="query" type="text" placeholder="Filter by Risk" autofocus="" class="ng-pristine ng-valid">
                    <input ng-model="langFilter" type="text" placeholder="Filter by Language" autofocus="" class="ng-pristine ng-valid">
                </form>
            </div>
        </header>
        <div class="container ng-scope" ng-controller="dataCtrl">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Risk</th>
                            <!--<th>Status</th>-->
                            <th>E/F</th>
                            <th>Liability</th>
                            <th>Property</th>
                            <th>E&amp;O</th>
                            <th>Excess</th>
                            <th>Umbrella</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="record in data | offset: currentPage*itemsPerPage | limitTo: itemsPerPagefilter:{risk:query, language:langFilter}">
                            <td>{{record.id}}</td>
                            <!--<td>{{record.status}}</td>-->
                            <td>{{record.risk}}</td>
                            <td>{{record.language}}</td>
                            <td>
                                <p ng-bind-html="record.liability"></p>
                            </td>
                            <td>
                                <p ng-bind-html="record.property"></p>
                            </td>
                            <td>
                                <p ng-bind-html="record.eando"></p>
                            </td>
                            <td>
                                <p ng-bind-html="record.excess"></p>
                            </td>
                            <td>
                                <p ng-bind-html="record.umbrella"></p>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <td colspan="3">
                            <div class="pagination">
                                <ul>
                                    <li ng-class="prevPageDisabled()">
                                        <a href ng-click="prevPage()">« Prev</a>
                                    </li>
                                    <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                                        <a href="#">{{n+1}}</a>
                                    </li>
                                    <li ng-class="nextPageDisabled()">
                                        <a href ng-click="nextPage()">Next »</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tfoot>
                </table>
            </div>
        </div>
        <section class="">
            <div class="col-md-3">
</div>
            <div class="col-md-6">
                <div class="alert alert-success text-center">
                    <strong>Loading...</strong> Data may take a few moments to populate.        
                </div>
            </div>
            <div class="col-md-3">
</div>
        </section>
        <footer class="">
            <div class="col-md-4">
                <h5 class="">Michael Bourque, March 10, 2015</h5>
            </div>
            <div class="pull-right text-right col-md-6">
                <h5>Email: mike.bourque@outlook.com Phone: 289.675.8200</h5>
            </div>
        </footer>
        <script src="assets/js/jquery.min.js"></script>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>
