table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd)	{
  background-color: #cccccc;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
